<div class="homepage-container">
    <img src="solita-logo.PNG" alt="Solita Logo" class="logo"/>
    <h1 class="title">Handwrite Recognition</h1>
    <p class="subtitle">Software for uploading an image of your handwriting</p>
    <p class="message">Please log in first before doing so</p>
    <div class="button-container">
        <button class="btn-login" routerLink="/login">Login</button>
        <button class="btn-create-account" routerLink="/register">Create Account</button>
    </div>
</div>
