<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo-email">
      <div class="navbar-logo">
        <a routerLink="/">
          <img src="solita-logo.PNG" alt="Logo" class="logo-icon">
        </a>
      </div>
      
      <div class="navbar-email" *ngIf="userEmail">
        {{ userEmail }}
      </div>
    </div>
    
    <div class="menu-icon" (click)="toggleMenu()">
      <i class="fas" [class.fa-bars]="!menuActive" [class.fa-times]="menuActive"></i>
    </div>
    <ul [class.nav-menu]="true" [class.active]="menuActive">
      <li class="nav-item">
        <a routerLink="/" class="nav-links" (click)="closeMenu()">Home</a>
      </li>
      <ng-container *ngIf="!userEmail">
        <li class="nav-item">
          <a routerLink="/login" class="nav-links" (click)="closeMenu()">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-links" (click)="closeMenu()">Register</a>
        </li>
      </ng-container>
      <ng-container *ngIf="userEmail">
        <li class="nav-item">
          <a routerLink="/image-upload" class="nav-links" (click)="closeMenu()">Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-links" (click)="logout()">Logout</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
